// Primary Colors
$main: #1B093C;

// App Colors
$black: #101723;
$white: #FFFFFF;

$grey-100: #CFCFD4;
$grey-200: #A2A3A8;
$grey-300: #8f96a5;
$grey-600: #3E4551;
$grey-700: #4E5159;
$grey-800: #2D3648;
$purple-100: #F9F5FD;
$purple-200: #E8E5F9;
$purple-300: #AEADD5;
$purple-800: #6869AC;

$error: #dd0303
