@use "styles/_variables" as *;

.container {
  position: absolute;
  min-height: 500px;
  background-color: $white;
  width: calc(1020px - 20px * 2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  border-radius: 4px;
  padding: 20px;
  left: calc(50% + 104px / 2);
  top: 146px;
  transform: translate(-50%);

  & > .header {
    display: flex;
    justify-content: space-between;

    & > .title {
      font-weight: bold;
      font-size: 22px;
    }

    & > button {
      cursor: pointer;
      width: 32px;
      height: 32px;
      background-color: $white;
      border: none;
      text-align: center;
    }
  }
}
