@use "styles/_variables" as *;

.container {
  width: 100%;

  & > .message {
    background-color: $purple-100;
    width: calc(100% - 10px * 2);
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;

    & > div > span {
      font-family: "Sansation", serif;
      font-weight: bold;
      font-size: 16px;
      color: $black;
    }
  }

  & > .response {
    width: 100%;
    margin-bottom: 15px;
    font-family: Arial, serif;
    color: $black;
    font-size: 16px;

    & pre {
      background-color: $black;
      color: $white;
      border-radius: 5px;
      padding: 10px;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }

  & > .options {
    display: flex;
    margin-bottom: 15px;

    & > div {
      margin-right: 25px;

      & > button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
}
